body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #383838;
    margin-bottom: 4px;

}

button {
    background: #066163;
    color: white;
    padding: 10px 20px;
    border: 1px solid #066163;
    font-weight: bold;
    border-radius: 5%;
}

button:hover{
  background-color: #CDBE78;
  opacity: .5;
}

#delete-btn {
    background: white;
    color: #066163;
}

#delete-btn:hover{
  background-color: red;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #CDBE78;
}
